<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300488874656-vj1quh5i3j0hg7evojqohhrrb6sna0e7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300488874656-vj1quh5i3j0hg7evojqohhrrb6sna0e7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>300488874656-2dko419dn0d1dp5a7lao3etnna9lfpeg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA_HWZrbe21pcEqlxGNqaYvei5a3FoSwbw</string>
	<key>GCM_SENDER_ID</key>
	<string>300488874656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.RNClient.Baigiamasis</string>
	<key>PROJECT_ID</key>
	<string>baigiamasis-c2906</string>
	<key>STORAGE_BUCKET</key>
	<string>baigiamasis-c2906.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300488874656:ios:8252d20fbab418c22347c5</string>
	<key>DATABASE_URL</key>
	<string>https://baigiamasis-c2906.firebaseio.com</string>
</dict>
</plist>